* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tilt-box-wrap {
    width: 300px;
    height: 400px;
    position: relative;
    transition: all 0.6s ease-out;
    perspective: 1000px;
}

.tilt-box-wrap:hover {
    transition: all 0.3s linear;
    transform: scale(1.1);
}

.tilt-box {
    width: 100%;
    height: 100%;
    background: #04527b;
    position: absolute;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: center;
    padding: 0 20px;
    transition: all 0.6s ease-out;
    perspective: 1000px;
    border-radius: 10px;
}

.t_over {
    width: 33.333%;
    height: 33.333%;
    position: absolute;
    z-index: 1;
}

.t_over:nth-child(1) { position: absolute; left: 0; top: 0; }
.t_over:nth-child(2) { position: absolute; left: 66.666%; top: 0; }
.t_over:nth-child(3) { position: absolute; left: 0; top: 66.666%; }
.t_over:nth-child(4) { position: absolute; left: 66.666%; top: 66.666%; }

.t_over:nth-child(1):hover ~ .tilt-box { transform: rotateX(10deg) rotateY(-10deg); }
.t_over:nth-child(2):hover ~ .tilt-box { transform: rotateX(10deg) rotateY(10deg); }
.t_over:nth-child(3):hover ~ .tilt-box { transform: rotateX(-20deg) rotateY(20deg); }
.t_over:nth-child(4):hover ~ .tilt-box { transform: rotateX(-10deg) rotateY(-10deg); }

.slide {
    position: absolute;
    bottom: -100%; 
    left: 0;
    width: 100%;
    text-align: center;
    color: white;
    padding: 10px;
    border-radius: 0 0 10px 10px;
    transition: bottom 0.4s ease-out, opacity 0.4s ease-out;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;


    
}

.tilt-box:hover .slide {
    bottom: 25%;
    opacity: 1;
    
}




.t_over:nth-child(1):hover ~ .tilt-box .slide{
    bottom: 25%;
    opacity: 1;
    
}
.t_over:nth-child(2):hover ~ .tilt-box .slide{
    bottom: 25%;
    opacity: 1;
    
}
.t_over:nth-child(3):hover ~ .tilt-box .slide{
    bottom: 25%;
    opacity: 1;
    
}
.t_over:nth-child(4):hover ~ .tilt-box .slide{
    bottom: 25%;
    opacity: 1;
    
}



