body{
    background-color: #fca311;
}


.head{
    color: darkblue;
}


#bglime{
    background-color: #00b4d8;

}

p{
    color: white;
}

#para{
    color: green;
}

ul li{
    color: white;
}

#upskillmafia{
    color: green;
    background-color: yellow;
}

#google{
    background-color: rgba(0, 0, 255, 0.466);
}


